@import '../../scss-styles/styles';

.profileSection {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  min-height: 626px;
  padding: 74px 0 70px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  @include Inter500;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
  padding: 0;
  margin: 0;
}

.userInfo {
  width: 410px;
  height: 96px;
  padding: 106px 0 203px;
  display: flex;
  flex-direction: column;
}

.userInfoLine {
  width: 100%;
  height: 48px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:first-child {
    border-bottom: 1px solid $element-grey;
  }
}

.userInfoText {
  font-size: 11px;
  line-height: 1.2;
  padding: 0;
  margin: 0;

  &Key {
    @include Inter500;
  }

  &Value {
    @include Inter400;
  }
}

.button {
  @include button;
  background: inherit;
  font-size: 13px;
  line-height: 1.23;
  text-align: center;
  margin: 0;

  &Edit {
    @include Inter400;
    padding: 0 0 16px;
  }

  &SignOut {
    @include Inter500;
    color: $accent-pink;
    padding: 0;
  }
}
