@import '../../scss-styles/styles';

.profileSection {
  width: 100%;
  margin: 0 auto;
  min-height: 626px;
  padding: 74px 0 70px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.greeting {
  @include Inter500;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
  padding: 0 0 123px;
  margin: 0;
}

.form {
  width: 410px;
  height: 482px;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.inputWithLabel {
  width: 100%;
  min-height: 38px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.label {
  width: 20%;
  @include Inter500;
  font-size: 11px;
  line-height: 1.21;
  text-align: left;
  padding: 0;
  margin: 0;
}

.input {
  width: 80%;
  border: none;
  @include Inter400;
  font-size: 11px;
  line-height: 1.21;
  padding: 0;
  text-align: right;
  outline-style: none;
}

.inputError {
  @include inputError;
}

.border {
  width: 100%;
  min-height: 1px;
  background-color: $element-grey;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding-top: 196px;
}

.button {
  @include button;
  background: inherit;
  font-size: 13px;
  line-height: 1.23;
  text-align: center;
  margin: 0;

  &Edit {
    @include Inter400;
    padding: 0 0 16px;

    &:disabled {
      color: #bbb;
      cursor: auto;
    }

    &:disabled:hover {
      opacity: 1;
    }
  }

  &SignOut {
    @include Inter500;
    color: $accent-pink;
    padding: 0;
  }
}

@include atTablet {
  .profileSection {
    padding-top: 236px;
  }

  .form {
    width: calc(max(260px, 53vw));
  }

  .greeting {
    padding-bottom: 96px;
  }

  .buttons {
    padding-top: 186px;
  }
}

@include atMobileM {
  .profileSection {
    padding: 70px 0 0;
    min-height: 355px;
  }

  .form {
    width: 260px;
  }

  .greeting {
    padding-bottom: 80px;
  }

  .buttons {
    position: fixed;
    bottom: 40px;
    right: calc((100vw - 110px) / 2);
  }

  .button {
    font-size: 12px;
  }
}
