@import '../../../scss-styles/styles';

.aboutProject {
  @include Inter400;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  min-height: 608px;
  box-sizing: border-box;
  padding: 110px 5.5vw;
  display: flex;
  flex-direction: column;
}

.sectionTitle {
  @include sectionTitle;
}

.description {
  width: 100%;
  padding: 70px 0 110px;
  display: flex;
}

.descriptionColumn {
  width: 48%;
  display: flex;
  flex-direction: column;

  &:first-of-type {
    padding-right: 4%;
  }
}

.descriptionTitle {
  font-size: 20px;
  line-height: 1.2;
  padding-bottom: 26px;
  margin: 0;
}

.descriptionText {
  @include text;
  margin: 0;
}

.schedule {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.scheduleLine {
  width: 100%;
  height: 36px;
  display: flex;
}

.blockFirst {
  width: 20%;
  background: $accent-green;
  @include about-project-text;
}

.blockSecond {
  width: 80%;
  background: $schedule-grey;
  @include about-project-text;
}

.caption {
  color: $text-grey;
  background-color: $white;
  @include about-project-text;
}

@include atDesktop1280 {
  .aboutProject {
    padding: 110px 70px;
  }
}

@include atTablet {
  .aboutProject {
    padding: 90px 50px;
  }

  .description {
    padding-bottom: 93px;
  }

  .descriptionTitle {
    padding-bottom: 22px;
  }

  .descriptionText {
    font-size: 12px;
    line-height: 1.5;
  }
}

@include atMobile {
  .aboutProject {
    padding: 70px 18px;
  }

  .description {
    flex-direction: column;
    padding-bottom: 60px;
  }

  .descriptionColumn {
    width: 100%;

    &:first-of-type {
      padding-right: 0;
      padding-bottom: 56px;
    }
  }

  .descriptionTitle {
    font-size: 18px;
    line-height: 1.21;
    padding-bottom: 16px;
  }

  .descriptionText {
    font-size: 11px;
    line-height: 1.45;
  }
}
