@import '../vendor/fonts/fonts';

//для экранов от 768px до 1279px
@mixin atDesktop1280 {
  @media screen and (max-width: 1279px) {
    @content;
  }
}

//для экранов от 450px до 767px
@mixin atTablet {
  @media screen and (max-width: 767px) {
    @content;
  }
}

//для экранов от 320px до 449px
@mixin atMobile {
  @media screen and (max-width: 449px) {
    @content;
  }
}

//шрифты
@mixin Inter400 {
  font-family: Inter, 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 400;
}

@mixin Inter500 {
  font-family: Inter, 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 500;
}

//ссылки
@mixin link {
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }
}
