@import '../vendor/fonts/fonts';

//для экранов от 1024px до 1279px
@mixin atDesktop1280 {
  @media screen and (max-width: 1279px) {
    @content;
  }
}

//для экранов от 768px до 1023px
@mixin atDesktop1024 {
  @media screen and (max-width: 1023px) {
    @content;
  }
}

//для экранов от 450px до 767px
@mixin atTablet {
  @media screen and (max-width: 767px) {
    @content;
  }
}

//для экранов от 320px до 449px
@mixin atMobile {
  @media screen and (max-width: 449px) {
    @content;
  }
}

//шрифты
@mixin Inter400 {
  font-family: Inter, 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 400;
}

@mixin Inter500 {
  font-family: Inter, 'Helvetica', sans-serif;
  font-style: normal;
  font-weight: 500;
}

//ссылка
@mixin link {
  cursor: pointer;
  transition: opacity 0.5s ease;
  text-decoration: none;

  &:hover {
    opacity: 0.7;
  }
}

//кнопка
@mixin button {
  cursor: pointer;
  transition: opacity 0.5s ease;
  outline-style: none;
  border: none;
  text-decoration: none;
  text-align: center;

  &:hover {
    opacity: 0.7;
  }
}

//заголовки на главной
@mixin sectionTitle {
  @include Inter400;
  font-size: 22px;
  line-height: 1.23;
  margin: 0;
  padding-bottom: 23px;
  width: 100%;
  border-bottom: black 1px solid;

  @include atMobile {
    padding-bottom: 28px;
  }
}

@mixin mainTitle {
  @include Inter400;
  text-align: center;
  font-size: 50px;
  line-height: 1.16;
  letter-spacing: -0.04em;
}

@mixin text {
  @include Inter400;
  font-size: 14px;
  line-height: 1.43;
}

@mixin footer-text {
  @include Inter400;
  font-size: 13px;
  line-height: 1.23;
}

@mixin about-project-text {
  font-size: 14px;
  line-height: 1.21;
  text-align: center;
  padding: 9px 0;
  margin: 0;

  @include atMobile {
    font-size: 11px;
    padding: 11px 0;
  }
}
