// цвета
$white: #fff;
$black: #000;
$dark-grey: #5c5c5c;

$background-grey: #f5f5f5;
$background-light-grey: #fafafa;
$text-grey: #a0a0a0;
$element-grey: #e8e8e8;
$schedule-grey: #f2f2f2;
$search-grey: #f9f9f9;

$accent-green: #2be080;
$accent-pink: #ee3465;
