// шрифты
$inter400: 'InterRegular', 'Helvetica', sans-serif;
$inter500: 'InterMedium', 'Helvetica', sans-serif;

// цвета
$white: #fff;
$black: #000;
$background-grey: #f5f5f5;
$text-grey: #a0a0a0;
$element-grey: #e8e8e8;
$accent-green: #2be080;
$accent-pink: #ee3465;
