@import '../../../scss-styles/styles';

.cardListSection {
  width: 100%;
  max-width: 1280px + $scroll-width;
  min-height: calc(100vh - 470px);
  margin: 0 auto;
  padding: 70px 70px 0;
  box-sizing: border-box;
}

.cardList {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, 360px);
  gap: 32px 30px;
  justify-content: center;
  list-style-type: none;
  padding: 0 0 10px;
  font-size: 0;

  &Hidden {
    display: none;
  }
}

.errText {
  text-align: center;
  margin: 0 auto;
  padding: 30px 0;
  font-size: 14px;
  line-height: 1.43;
  @include Inter400;
}

.loadMoreSection {
  width: 100%;
  min-height: 166px;
  padding: 50px 0 80px;
  box-sizing: border-box;
  display: none;

  &Visible {
    display: block;
  }
}

.loadMoreButton {
  @include button;
  @include Inter500;
  width: 100%;
  height: 36px;
  background: $search-grey;
  padding: 0;
  border-radius: 6px;
  font-size: 12px;
  line-height: 1.25;
}

@include atTablet {
  .cardListSection {
    padding: 70px 30px 0;
    min-height: calc(100vh - 525px);
  }

  .cardList {
    grid-template-columns: repeat(auto-fit, 342px);
    gap: 35px 24px;
    padding-bottom: 30px;
  }
}

@include atMobileL {
  .cardListSection {
    padding: 40px 10px 0;
    min-height: 400px;
  }

  .cardList {
    grid-template-columns: 300px;
    gap: 16px;
    padding-bottom: 30px;
  }

  .loadMoreSection {
    width: calc(max(90vw, 300px));
    margin: 0 auto;
  }
}

