@import '../../../scss-styles/styles';

.portfolio {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  min-height: 425px;
  box-sizing: border-box;
  padding: 0 70px 125px;
}

.title {
  @include Inter400;
  color: $text-grey;
  font-size: 18px;
  line-height: 1.1;
  padding: 0 0 30px;
  margin: 0;
}

.linksList {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.linksItem {
  width: 100%;
  padding: 20px 0 19px;
  border-bottom: 1px solid $element-grey;

  &:last-of-type {
    padding-bottom: 0;
    border-bottom: none;
  }
}

.ref {
  @include link;
  @include Inter400;
  color: $black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.projectName {
  font-size: 30px;
  line-height: 1.67;
  letter-spacing: -0.04em;
  margin: 0;
}

.arrow {
  width: 30px;
  height: 30px;
  background: url('../../../images/arrow.svg') no-repeat center;
  background-size: 70%;
  padding: 0;
}

@include atTablet {
  .portfolio {
    padding: 0 50px 90px;
  }

  .title {
    font-size: 12px;
    line-height: 1.5;
  }

  .projectName {
    font-size: 28px;
    line-height: 1.79;
  }

  .arrow {
    width: 27px;
    height: 27px;
  }
}

@include atMobileL {
  .portfolio {
    min-height: 294px;
  }

  .title {
    padding-bottom: 20px;
    font-size: 14px;
    line-height: 1.43;
  }

  .projectName {
    max-width: 90%;
    font-size: 18px;
    line-height: 1.56;
  }

  .arrow {
    width: 18px;
    height: 18px;
  }
}

@include atMobile {
  .portfolio {
    padding: 0 18px 70px;
  }
}
