@import '../../../scss-styles/styles';

.navArea {
  width: 100%;
  height: 66px;
  background: $background-grey;
  display: flex;
  align-items: center;
}

.navList {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.navItem {
  padding-right: 40px;

  &:last-of-type {
    padding-right: 0;
  }
}

.link {
  @include Inter500;
  @include link;
  color: $black;
  font-size: 13px;
  line-height: 1.23;
  text-decoration-line: underline;
}

@include atMobile {
  .navItem {
    padding-right: 24px;
  }

  .link {
    font-size: 11px;
    line-height: 1.45;
  }
}
