@import '../../scss-styles/styles';

.header {
  width: 100%;
  padding: 18px 5.5vw;
  box-sizing: border-box;
  min-height: 74px;

  &Main {
    background: $dark-grey;
  }
}

.headerContent {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoButton {
  @include link;
  background: url('../../images/logo.svg') center no-repeat;
  width: 38px;
  height: 38px;
}

.buttonsArea {
  @include Inter500;
  font-size: 12px;
  line-height: 1.33;
  display: flex;
}

.regButton {
  background: inherit;
  color: $white;
  margin-right: 30px;
  padding: 8px 0;
  box-sizing: border-box;
  @include button;
}

.authButton {
  width: 76px;
  height: 32px;
  color: $black;
  background: $accent-green;
  border-radius: 3px;
  padding: 8px 0;
  box-sizing: border-box;
  @include button;
}

@include atDesktop1280 {
  .header {
    padding: 18px 70px;
  }
}

@include atTablet {
  .header {
    padding: 18px 30px;
  }
}

@include atMobile {
  .header {
    padding: 18px 14px;
  }
}
