@import '../../../scss-styles/styles';

.banner {
  background: $dark-grey url('../../../images/main-banner.svg') no-repeat top 82px left 50%;
  background-size: 25vw;
  width: 100%;
  height: 40vw;
  min-height: 524px;
  display: flex;
  align-items: center;
}

.mainTitle {
  @include Inter400;
  @include mainTitle;
  width: 60%;
  max-width: 770px;
  margin: 0 auto;
  padding-bottom: 40px;
  color: $white;
}
