@import '../../scss-styles/styles';

.registerPage {
  width: 100%;
  margin: 0 auto;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 396px;
  height: 38px;
  @include link;
  background: url('../../images/logo.svg') no-repeat top 0 left 0;
  background-size: 38px 38px;
}

.greeting {
  @include Inter500;
  width: 396px;
  font-size: 24px;
  line-height: 1.2;
  text-align: left;
  margin: 0;
  padding: 40px 0;
}

@include atTablet {
  .registerPage {
    padding-top: 232px;
  }
}

@include atMobileM {
  .registerPage {
    padding-top: 56px;
    min-height: 540px;
  }

  .logo {
    width: 38px;
    background: url('../../images/logo.svg') no-repeat center;
  }

  .greeting {
    width: 260px;
    text-align: center;
    padding: 50px 0 80px;
  }
}
